/*-------------------

Primary Style


*--------------------*/
*, *::after, *::before{
  box-sizing: border-box;
}

header {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 80px;
  background: #d21772;
}

/*// h1 {
//   font-family: sans-serif;
//   font-style: italic;
//   color: #eddba4;
//   font-size: 40px;
// }*/

body{
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #291d43;
}

main {
  display: table;

}

.ka-header{
  width: 10%;
  margin: 1.5em 0.5em;

}

body .cart-img{
  position: fixed;
  width: 5.5%;
  margin-left: 93.1vw;
  margin-top: 0.4vh;
}

footer {
  background: #eddba4;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  display: block;
}

.ka-img {
  display: table-cell;
  width: 50%;
  margin: 40vh auto;
}

.ka-trigger {
  position: fixed;
  z-index: 4;
  white-space: nowrap;
  top: 30px;
  right:30px;
  width: 20px;
  height: 20px;
}

.ka-trigger span,
.ka-trigger span::before,
.ka-trigger span::after {
  position: absolute;
  height: 4px;
  width: 36px;
  background-color: #291d43;
  transition: background .1s, transform .4s;
}

.ka-trigger span::before,
.ka-trigger span::after{
  content: '';
  top:0;
  left: 0;
}

.ka-trigger span::before{
  transform: translateY(-12px);
}

.ka-trigger span::after{
  transform: translateY(12px);
}

.ka-trigger span {
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.nav-open .ka-trigger span{
  background: transparent
}

.nav-open .ka-trigger span::before{
  transform: rotate(-45deg);
}

.nav-open .ka-trigger span::after{
  transform: rotate(45deg);
}

.side-bar{
  position: fixed;
  z-index: 2;
  top:0;
  right:0;
  height: 100%;
  width: 100%;
  width: 70vw;
  background: #EBA6A9;
  transform: translateX(100%);
  opacity: .5;
  transition: opacity .8s, transform .6s;
}

.nav-open .side-bar{
  transform: translate(0);
  opacity: 1;
}

.ka-dollar-sign {
  display: block;
  position: fixed;
  color: #eba6a9;
  text-align: center;
  z-index: 5;
  top:35vh;
  left: 10vw;
  font-size: 15rem;
  transform: translateX(-50vw);
  transition: transform .6s, color 2.8s cubic-bezier(.57,1.1,.82,.52);
}

.nav-open .ka-dollar-sign {
  transform: translateX(0);
  color: green;
}

.item-container {
  list-style: none;
  margin-top: 10%;
}

.item-container li {
  margin: .5em 1.5em;
  padding: 2em 3.5em;
  border: 1px solid #fff;
}

.item-container a {
  display: inline-block;
  margin: 11.5em 40vh;
  padding: 1.8em 8em;
  text-decoration: none;
  border-radius: 40px;
  /*border: 1px solid #fff;*/
  background-color: #d21772;
  color: #fff;
  text-transform: uppercase;
  line-height: 10px;
  font-weight: 400;
}

.item-container li>div>img {
  border-radius: 50%;
  width: 3em;
  border: #291d43 .1em solid;
}

.item-name {
  color: #ffffff;
  padding-top: 1em;
  width: 30%;
}
